<section class="input-component">
    <input class="custom-input component-{{ block.settings.input_class }}" placeholder="{{ block.settings.input_placeholder }}">
</section>

{% schema %}
{
    "name": "input",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "input_class",
            "label": "Input field class"
        },
        {
            "type": "text",
            "id": "input_placeholder",
            "label": "Input field placeholder"
        },
        {
            "type": "number",
            "id": "font_size",
            "label": "Font size"
        },
        {
            "type": "color",
            "id": "color",
            "label": "color"
        },
        {
            "type": "select",
            "id": "oultine",
            "label": "Outline",
            "options": [
                {
                    "label": "None",
                    "value": "none"
                },
                {
                    "label": "Outline",
                    "value": "outline"
                }
            ]
        },
        {
            "type": "number",
            "id": "border_size",
            "label": "border size"
        },
        {
            "type": "color",
            "id": "border_color",
            "label": "border color" 
        },
        {
            "type": "number",
            "id": "border_radius",
            "label": "border radius"
        },
        {
            "type": "color",
            "id": "placeholder_color",
            "label": "placeholder"
        }
    ],
    "presets": [
        {
            "name": "input"
        }
    ]
}
{% endschema %}

<style>
    .component-{{ block.settings.input_class }}{
        font-size: {{ block.settings.font_size }}px;
        color: {{ block.settings.color }};
        outline: {{ block.settings.outline }};
        border-width: {{ block.settings.border_size }}px;
        border-color: {{ block.settings.border_color }};
        border-style: solid;
        border-radius: {{ block.settings.border_radius }}px;
    }

    .component-{{ block.settings.input_class }}:placeholder{
        color: {{ block.settings.placeholder_color }}
    }
</style>