<section class="input-component" style="width: 100%;">
  <input
    class="custom-input component-{{ block.settings.input_class }}"
    placeholder="{{ block.settings.input_placeholder }}"
    style="{% render 'typography-style', settings: block.settings %}; font-family: var(--font-family);"
  >
</section>

{% schema %}
{
  "name": "input",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "input_class",
      "label": "Input field class"
    },
    {
      "type": "text",
      "id": "input_placeholder",
      "label": "Input field placeholder"
    },
    {
      "type": "number",
      "id": "font_size",
      "label": "Font size"
    },
    {
      "type": "color",
      "id": "color",
      "label": "color"
    },
    {
      "type": "number",
      "id": "border_size",
      "label": "border size"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "border color"
    },
    {
      "type": "number",
      "id": "border_radius",
      "label": "border radius"
    },
    {
      "type": "text",
      "id": "padding",
      "label": "Padding",
      "info": "top right bottom left"
    },
    {
      "type": "color",
      "id": "placeholder_color",
      "label": "placeholder"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-subheading--family)",
          "label": "t:options.subheading"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        },
        {
          "value": "var(--font-accent--family)",
          "label": "t:options.accent"
        }
      ],
      "default": "var(--font-body--family)"
    }
  ],
  "presets": [
    {
      "name": "input"
    }
  ]
}
{% endschema %}

<style>

  .component-{{ block.settings.input_class }}{
      font-size: {{ block.settings.font_size }}px;
      color: {{ block.settings.color }};
      outline: none;
      border-width: {{ block.settings.border_size }}px;
      border-color: {{ block.settings.border_color }};
      border-style: solid;
      border-radius: {{ block.settings.border_radius }}px;
      padding: {{ block.settings.padding }};
      max-width: 361px;
      width: 100%;
  }

  .component-{{ block.settings.input_class }}:placeholder{
      color: {{ block.settings.placeholder_color }}
  }
</style>
