<section class="input-component">
    <input class="custom-input component-{{ block.settings.input_class }}" placeholder="{{ block.settings.input_placeholder }}">
</section>

{% schema %}
{
    "name": "input",
    "tag": "section",
    "settings": [
        {
            "type": "text",
            "id": "input_class",
            "label": "Input field class"
        },
        {
            "type": "text",
            "id": "input_placeholder",
            "label": "Input field placeholder"
        },

    ]
}
{% endschema %}

<style>
    .component-{{ block.settings.input_class }}{
        font-size: {{ block.settings.font_size }};
        color: {{ block.settings.color }};
        outline: {{ block.settings.outline }}
    }
</style>