<div class="customer-review-slider">
  <div class="custom-container">
    <h1 class="section-customer-title">{{ section.settings.customer_title }}</h1>

    <div class="swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <div class="review-card" {{ block.shopify_attributes }}>
              <div class="customer-info">
                {% if block.settings.image != blank %}
                  <img
                    src="{{ block.settings.image | image_url: width: 50 }}"
                    alt="{{ block.settings.image.alt | escape }}"
                    width="50"
                    height="50"
                    loading="lazy"
                    {{ block.shopify_attributes }}
                  >
                {% endif %}
                <div class="customer-rating">
                  <p {{ block.shopify_attributes }} class="customer-name">{{ block.settings.name }}</p>
                </div>
              </div>
              <p {{ block.shopify_attributes }} class="review-text">{{ block.settings.text }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
</div>

{% schema %}
{
  "name": "Customer Say Slider",
  "settings": [
    {
      "type": "text",
      "id": "customer_title",
      "label": "Section title"
    },
    {
      "type": "text_alignment",
      "id": "text-align",
      "label": "Title align"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "section padding top",
      "max": 100,
      "min": 0,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "section padding bottom",
      "max": 100,
      "min": 0,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_left",
      "label": "section padding left",
      "max": 100,
      "min": 0,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_right",
      "label": "section padding right",
      "max": 100,
      "min": 0,
      "step": 1,
      "default": 0
    },
    {
      "type": "color",
      "id": "section_background",
      "label": "Section background"
    },
    {
        "type": "font_picker",
        "id": "review_font_family", 
        "label": "Review font family",
        "default": "mono"
    },
    {
      "type": "range",
      "id": "card_padding_top",
      "label": "Padding top",
      "max": 100,
      "min": 0,
      "default": 20,
      "step": 1
    },
    {
      "type": "range",
      "id": "card_padding_bottom",
      "label": "Padding bottom",
      "max": 100,
      "min": 0,
      "default": 20,
      "step": 1
    },
    {
      "type": "range",
      "id": "card_padding_left",
      "label": "Padding left",
      "max": 100,
      "min": 0,
      "default": 20,
      "step": 1
    },
    {
      "type": "range",
      "id": "card_padding_right",
      "label": "Padding right",
      "max": 100,
      "min": 0,
      "default": 20,
      "step": 1
    },
    {
      "type": "color",
      "id": "card_background",
      "label": "Card Background"
    },
    {
      "type": "range",
      "id": "card_border_radius",
      "label": "Card border radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 8
    }
  ],
  "blocks": [
    {
      "type": "review",
      "name": "Review",
      "limit": 10,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Customer Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Customer Name",
          "default": "Isabella"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Review Text",
          "default": "Lorem Ipsum is simply dummy text of the printing and typesetting industry."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Say Slider",
      "category": "Testimonials"
    }
  ]
}
{% endschema %}

<style>
  .customer-review-slider{
      padding: {{ section.settings.padding_top }}px {{ section.settings.padding_right }}px {{ section.settings.padding_bottom }}px {{ section.settings.padding_left }}px;
      background: {{ section.settings.section_background }};
      overflow: hidden;
  }
  .review-card {
      padding: {{ section.settings.card_padding_top }}px {{ section.settings.card_padding_right }}px {{ section.settings.card_padding_bottom }}px {{ section.settings.card_padding_left }}px;
      background: {{ section.settings.card_background }};
      border-radius: {{ section.settings.card_border_radius }}px;
  }

.customer-review-slider .swiper-slide{
    max-width: 306px;
}

  .swiper-pagination{
    position: unset;
    margin-top: 20px;
  }

  .swiper-pagination .swiper-pagination-bullet{
    background: #553E39;
    width: 8px;
    height: 8px;
    opacity: 1;
  }

  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
      position: relative
  }

  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active:before{
      content: "";
      width: 14px;
      height: 14px;
      border: 1px solid #553e39;
      position: absolute;
      top: -4px;
      left: -4px;
      border-radius: 50%;
  }
  .custom-container{
      max-width: 1480px;
      margin: 0 auto;
      overflow: visible;
  }

  .customer-info{
      display: flex;
      align-items: center;
      gap: 20px;
  }

  .customer-info .customer-name{
      font-size: 15px;
  }

  .customer-info img{
      width: 50px;
      height: 50px;
  }

  .customer-review-slider .swiper{
      padding: 0 20px;
      overflow: visible;
  }

  .review-card .review-text{
      font-size: 14px;
      line-height: 150%;
      font-family: {{ section.settings.review_font_famliy }};
  }

  .section-customer-title{
      font-size: 40px;
      text-align: {{ section.settings.text-align }}
  }

  @media screen and (max-width: 991px) {
    .customer-review-slider{
        padding: 80px 0 80px 0 !important;
    }
    .section-customer-title{
        font-size:34px;
    }
  }
  @media screen and (max-width: 767px) {
    .customer-review-slider{
        padding: 50px 0 50px 0 !important;
    }

    .section-customer-title{
      font-size:30px;
    }
  }
  @media screen and (max-width: 575px) {
    .customer-review-slider{
       padding: 30px 0 30px 0 !important;
    }

    .section-customer-title{
        font-size:24px;
    }
    .review-card .review-text{
      font-size:12px;
    }

    .customer-info .customer-name{
        font-size:13px;
    }
  }
</style>
